.SlideInFromAbove-appear {
  opacity: 0;
  animation: SlideInFromAbove ease-out 0.5s;
}

.SlideInFromAbove-appear.SlideInFromAbove-appear-active {
  opacity: 1;
}

@keyframes SlideInFromAbove{
  0% {
    opacity:0;
    transform: translate(0, -50%);
  }
  100% {
    opacity:1;
    transform: translate(0, 0%);
  }
}

.fade-out {
  opacity: 0;
  transition: opacity .3s ease-out;
}

